<!-- <link rel=preload crossorigin as=script href="./common.js">
<link rel=preload crossorigin as=script href="./manga.js">
<link rel=preload crossorigin as=script href="./chapter.js"> -->
<link rel=preload crossorigin as=fetch href=test_manga.json>
<link rel=preload crossorigin as=fetch href=test_chapter.json>
<link rel=preload crossorigin as=fetch href=test_manga_hole.json>
<link rel=preload crossorigin as=fetch href=test_manga_hole_secondary.json>
<!-- <link rel=preload crossorigin as=fetch href="./test_manga_big.json"> -->
<style>
    .chp { display: grid; grid-template: 1fr / 2fr 1fr 4fr 3fr; height: 1.5em; contain: strict; }
    .chv:not(:empty)::before { content: "Vol.\A0"; }
    .chv:not(:empty)::after { content: " "; }
    .chn:not(:empty)::before { content: "Ch.\A0"; }
    :not(:empty) ~ .cht:not(:empty)::before { content: "\A0-\A0"; }
    .grp:not(:last-child) { padding-right: 5px; border-right: 1px solid black; }
    .grp:not(:first-child) { padding-left: 5px; border-left: 1px solid black; }
    .manga { contain: content; }
    @supports(grid-template-columns: subgrid) {
        .chp { grid-template-columns: subgrid; }
        .manga { grid-template-columns: 2fr 1fr 4fr 3fr; }
    }
</style>
<script>
    var data = {},
        /** @function rjson
         * @param {Response} resp
         * @returns {Promise<any>}
         */
        rjson = r => r.ok ? r.json() : {},
        manga = fetch("./test_manga.json").then(rjson),
        chapter = fetch("./test_chapter.json").then(rjson),
        hole = fetch('./test_manga_hole.json').then(rjson)
    Promise.all([
        import("./common.js"),
        import("./manga.js"),
        import("./chapter.js"),
    ]).then(async o => {
        data.common = o[0];
        data.manga = o[1];
        data.chapter = o[2];

        data.common.measure_fn('manga', m => {
            data.test_manga_parsed = data.manga.decode_manga(m)
            data.test_manga_orig = m;
            document.body.append(data.common.$manga_ch_list(data.test_manga_parsed))
        }, await manga);

        data.common.measure_fn('chapter', c => {
            data.test_chapter_parsed = data.chapter.decode_chapter(c);
            data.test_chapter_orig = c;
        }, await chapter);

        data.common.measure_fn('hole', h => {
            data.test_manga_hole_parsed = data.manga.decode_manga(h)
            data.test_manga_hole_orig = h
            data.test_manga_hole_holes = data.common.holes(data.test_manga_hole_parsed, [1])
        }, await hole);

        await data.common.measure_fn_async('big', async () => {
            let r = await fetch("./test_manga_big.json");
            let j = await rjson(r);
            data.test_manga_big_orig = j;
            data.test_manga_big_parsed = data.manga.decode_manga(j);
        });

        data.common.measure_fn('hole 2', h2 => {
            let parsed = data.manga.decode_manga(h2);
            data.test_manga_hole_2_orig = h2
            data.test_manga_hole_2_parsed = parsed
            data.test_manga_hole_2_holes = data.common.holes(parsed, [1])
        }, await fetch("./test_manga_hole_secondary.json").then(rjson));

        data.common.measure_fn_async('groups', async g => {
            data.groups = await g
            await data.groups.groups
        }, import('./groups.js'))
        return performance.getEntries();
    }).then(console.log.bind(null, "%O; %O", data))
</script>